body {
  padding: 0;
}

.tiny{ font-size: 1rem;}
.small{ font-size: 2rem;}
.medium{ font-size: 4rem;}
.large{ font-size: 6rem;}

.log-container {
  padding: 10px;
  background: #232323;
  color: lightgreen;
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; */
  overflow-x: scroll;
}
